<h1>Users</h1>
<!-- Add code to display no users message in case using if statetment-->
<% if @users.any? %>
  <div class="users-table-container">
    <table class="users-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Full Name</th>
          <th>Recipes</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user_profile_path(user) %></td>
            <td><%= user.full_name %></td>
            <td><%= user.recipes.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="empty-state">
    <p>No registered users yet</p>
  </div>
<% end %>