<%= render @recipe %>

<div>
  <% if @recipe.user == current_user %>
    <div class="recipe-actions">
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: 'edit-btn' %>
      <%= button_to "Delete Recipe", @recipe, method: :delete, class: 'delete-btn' %>
    </div>
  <% end %>
</div>
