.navbar{
    background-color: #FF7171;
    height: 100px;
}

body{
    background-color: #FFD468
}

h1{
    text-align: center;
    font-family: 'Michroma', sans-serif;
    margin-top: 25px;
}

/* Centers all forms in application */
.form-layout{
    text-align:center;
    width: 350px;
    margin: 25px auto;
    padding: 20px;
    font-family: 'Metrophobic', sans-serif;
}
 
.field{
    margin-bottom: 15px;
}
 
.sign-up-btn{
    background-color: #FF7171;
    color: white;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    border: none;
}
 
.submit_btn{
    width: 210px;
    margin: 10px auto;
}

/* Mark MacGowan */

.main-logo-btn{
    border-radius: 25px;
    height: 60px;
    width: 200px;
    margin-left: 10px;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(230, 187, 78);
    color:rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-width: 3px;
}
.log-in-btn{
    background-color: #FF7171;
    color:white;
    height:60px;
    width: 150px;
    border-radius:5px;
    border: none;
    margin-bottom: 20px;
}

.new-recipe-btn {
    display: block;
    background-color: #FF7171;
    color: white;
    height: 50px;
    width: 230px;
    margin: 25px auto;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
}

.nav-options-pane{
    position:relative;
    float: right;
    margin-left: 250px;
    
}

.nav-bar-elements{
    color: white;
    height:60px;
    width: 160px;
    border: none;
    margin-right: 90px ;
    margin-bottom: 20px;
    font-size: xx-large;
    text-decoration: none;
}

.nav-accounts-btn{
    position: relative;
    padding: 15px 30px; /* Adds space inside the button */
    border-radius: 12px;
    background-color: #fffb00;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: inline-block; /* Helps apply padding properly */
    text-align: center;
}

/* Dropdown on username for log out option */
.nav-user-dropdown {
    position: relative;
    display: inline-block;
}

.nav-user-btn {
    padding: 15px 30px;
    border-radius: 12px;
    background-color: #fffb00;
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content .logout-link {
    background-color: #efee9d;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
}

.dropdown-content .logout-link:hover {
    background-color: #ebe9bf;
}

/* Show the dropdown on hover */
.nav-user-dropdown:hover .dropdown-content {
    display: block;
}

